<% if object.errors.any? %>
  <div class="alert alert-error">
    <h4 class="alert-title"></h4>
    <ul class="bulleted-list alert-description">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
