<div>
  <% if signed_in? %>
    Signed in as: <%= current_user.email %>
    <%= button_to 'Sign Out', sign_out_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign Up', sign_up_path %> or
    <%= link_to 'Sign In', sign_in_path %>
  <% end %>
</div>
